
body{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
*{
    font-family: "Roboto Mono", monospace;
    font-weight: 400;
}
h1{
    font-size: max(2vw, 20px);
    padding-bottom:1.2rem;
}
h2{
    margin-top:0%;
    padding:1.5rem;
    background-color: #0c0c0c;
    color:white;
    font-size: 1rem;
    
}
.all{
    margin-left: auto;
    margin-right: auto;
    width: 38vw;
    
}


.container{
    background-color: #ffffff;
    
    padding:1rem;
    width:360px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}


input{
  height:1.8rem !important;
  padding-right:25vw;
  
}



.inputArea{
    display: flex;
    flex-direction: row;
   width:380px;
   margin-top: -10%;
}

button{
    height: 2rem;
    border: none;
    padding-left: 1.2rem;
    padding-right: 1.2rem;
    background-color: rgb(18, 149, 201);
    font-weight: 700;
    text-transform:uppercase;
    color:white;
    font-size: 1.4rem;
    margin-left: 5%;
    margin-top: 0%;
}

li{
    list-style: none;
    border-bottom: 1px solid rgb(218, 215, 215);
    border-top: 1px solid rgb(218, 215, 215);
    margin-bottom: 3%;
    padding:.8rem;
    width:35vw;
}

ul{
    margin-top:3%;
    max-height: 20rem;
    margin-right: calc(100vw - 100%);
    width:38vw;
    overflow-y: auto;
    overflow-x: hidden;
}

.withTasks{
    width:40vw;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -72%);
    height: 31rem;   
}

footer{
    position:absolute;
    bottom:0%;
    left:0%;
    right:0%;
    text-align: center;
    background-color: #0c0c0c;
    color: #ffffff;
    font-size: .8rem;
}

@media screen and (max-width:500px){
   
.withTasks{
    width:40vw;
    position: absolute;
    top:10%;
    left:-0%;
    transform: translateY(0);
    height: 31rem;   
}

li, ul{
    width:82vw;
}

ul{
    margin-left: -17%;
}

button{
    height: 2rem;
    border: none;
    padding-left: 3vw;
    padding-right: 3vw;
    background-color: rgb(18, 149, 201);
    font-weight: 700;
    text-transform:uppercase;
    color:white;
    font-size: 1.2rem;
    margin-left: 0%;

}

.inputArea{
    margin-left: 2.5% ;
}

h1{
    padding-left:8% !important;
    width:500px;
}

}

@media  screen and (min-width:500px) and (max-width:770px) {
     
.withTasks{
    width:40vw;
    position: absolute;
    top:10%;
    left:0;
    transform: translateX(-50%);
    height: 31rem;   
}

li, ul{
    width:82vw;
}

ul{
    margin-left: -5%;
}

button{
    height: 2rem;
    border: none;
    padding-left: 3vw;
    padding-right: 3vw;
    background-color: rgb(18, 149, 201);
    font-weight: 700;
    text-transform:uppercase;
    color:white;
    font-size: 1.2rem;
    margin-left: 0%;

}

.inputArea{
    margin-left: 5.5% ;
}

h1{
    padding-left:8% !important;
    width:500px;
} 

input{
    height:1.8rem !important;
    padding-right:38vw !important;
    
  }
  
}

@media screen and (max-height: 801px){
    .withTasks{
        width:40vw;
        position: absolute;
        top:12%;
        left:-0%;
        transform: translateY(0);
        height: 31rem;   
    }
}